{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages }}
    
    <main class="posts">
        <h1>{{ .Title }}</h1>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        {{ range $paginator.Pages.GroupByDate "2006" }}
            <div class="posts-group">
                <div class="post year">{{ .Key }}</div>

                <ul class="zscard" style="background-image: none;">
                    {{ range .Pages }}
                    <a href="{{.Permalink}}"  >
                    <li style="margin: 6px;"> 
            <div style="max-width: 100%; width:100%;" >
              <p class="zscard title">{{.Title}}</p>
              <p class="zscard info" style="overflow: hidden;text-overflow:ellipsis;overflow:hidden;max-width:calc(100% - 30px);white-space:nowrap;">{{.Date.Format "02-01"}} - {{.ReadingTime}}m - {{.Plain}}</p>
            </div>
          </li>
          </a>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
