{{ define "main" }}
{{ $paginator := .Paginate .Data.Pages }}

<main class="posts">
     <h1 style="flex-grow: 1;flex-shrink: 1">{{ .Title }}</h1>
    <ul class="zscard" style="background-image: none;display: flex; justify-content: unset;">
{{range $name, $taxonomy := .Site.Taxonomies.tags}} 
{{ with $.Site.GetPage (printf "/tags/%s" $name) }}
        <a href="{{.RelPermalink }}" style="width: unset;"  >
           
                <div style="width: unset;" >
                    <p class="zscard title">{{$name}}</p>
                </div>
           
        </a>
        {{ end }}
        {{ end }}
    </ul>

{{ partial "pagination-list.html" . }}
</main>
{{ end }}