
.minp{
  padding: 5px 20px ;
  max-width: 480px; 
   margin: auto ;
}
.arcn{
   background-image: linear-gradient(red, yellow);
   
}

.ptitles{
  width: 100%; text-align: left; text-overflow: ellipsis;
    white-space: nowrap;font-weight: bold;
    overflow: hidden; margin: 0px;
}
[data-theme=dark] .arcn {
  background-image: linear-gradient(var(--dark-background-header),var(--dark-background));
}

[data-theme=light] .arcn {
  background-image: linear-gradient(var(--light-background-header),var(--light-background));
}
@media (max-width:684px) {



}

@media (prefers-color-scheme:dark) {

.arcn {
  background-image: linear-gradient(var(--dark-background-header),var(--dark-background));
}

}

@media (prefers-color-scheme:light) {

.arcn {
  background-image: linear-gradient(var(--light-background-header),var(--light-background));
}
}
