<footer class="footer">
    {{ range site.Author.authors }}<span> {{ .name }} - {{ now.Format "2006" }}</span>
    {{ end }}
    <div >
        {{ range .Site.Params.main }}
        <a href="{{.url}}" style="text-decoration:none; margin-right: 15px">{{.name}}</a>
        {{ end }}
    </div>
    
    <section class="scrollbl">
        <div class="progress-bar" id="myBar"/>
            <script type="text/javascript">
            window.onscroll = function() {myFunction()};
            function myFunction() {
            var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
            var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            var scrolled = (winScroll / height) * 100;
            document.getElementById("myBar").style.width = scrolled + "%";
            }
            </script>
        </section>
    </footer>