<footer class="footer">
    <style type="text/css">
    .progress-bar {
    height: 9px;
    background: var(--light-text);
    width: 0%;
    }
    .scrollbl {
    z-index: 20000;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 9px;
    width: 100%;
    }
    [data-theme=dark] .progress-bar{
    background: var(--dark-text);
    }
    </style>
    <div class="footer__inner">
        <div class="footer__content">
            <span> {{ now.Format "2006" }}</span>
            {{ if .Site.Params.footer.author }}<span><a href="{{ .Site.BaseURL }}">{{ .Site.Author.name }}</a></span>{{ end }}
            <span>sdsddsdsds</span>
            {{ if .Site.Params.footer.rss }}<span><a href="{{ "posts/index.xml" | absLangURL }}" target="_blank" title="rss"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg></a></span>{{ end }}
            {{ range .Site.Params.footer.topText }}<span>{{ . | safeHTML}}</span>{{ end }}
        </div>
    </div>
    <div class="footer__inner">
        <div class="footer__content">
            jshdjksd
        </div>
    </div>
    
    <section class="scrollbl">
        <div class="progress-bar" id="myBar"/>
            
            
            <script type="text/javascript">
            window.onscroll = function() {myFunction()};
            function myFunction() {
            var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
            var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            var scrolled = (winScroll / height) * 100;
            document.getElementById("myBar").style.width = scrolled + "%";
            }
            </script>
        </section>
    </footer>