{{ define "body" }}
<body>
  {{ end }}
  {{ define "main" }}
  <main aria-role="main">
    {{ $styles := resources.Get "css/main.css" | minify }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
    <div class="mpage">
      <h1 style="margin:0px; padding: 1em">{{ .Site.Title }}</h1>
      {{- with .Site.Params.homeSubtitle }}
      <p style="margin:0px; padding: 0 1em 0 1em">{{.}}</p>
      {{- end }}
      {{- with .Site.Params.social }}
      <div>
        {{ partial "social-icons.html" . }}
      </div>
      {{- end }}
    </div>
    <div>
      <div class="wrapper">
        {{ with .Site.GetPage "section" "posts" }}
        {{ range (.Data.Pages.GroupByDate "2006") }}
        <section class="block">
          <div class="each-year">
            <div class="title">{{ .Key }}</div>
            {{ range  where .Pages ".Params.categories" "intersect" (slice "Anuncio") }}
            <a class="each-event" href={{.Permalink}} target="_blank">
              <div class ="nan">
                <h3>{{.Title}}  </h3>
                <p>{{.Summary}}</p>
                <p>{{ .Date.Format "02-01-2006"}}</p>
                <img src={{.Params.previewUrl}} alt="Nature" class="responsive"/>
              </div>
            </a>
            {{ end }}
          </div>
          <div class="line"/>
          </section>
          
          {{ end }}
          {{ end }}
        </div>
        
      </div>
    </main>
    {{ end }}