{{ if and (not $.Site.Params.DisableReadOtherPosts) (or .NextInSection .PrevInSection) }}

       
        

   
        <div class="zscard" style="display: inline-block;background-image: none;text-align: center;margin-top: 20px;">
            {{ if .NextInSection }}
            <a href="{{.NextInSection.Permalink}}" >
            <div style="width:300px;">
    <p class="zscard title" style="font-weight: 500;font-size: .8rem;
">⇠ {{ T "previous"}}</p>
              <p class="zscard title"> {{ .NextInSection.Title }} ⇢</p>
            </div>
          </a>
            {{ end }}

            {{ if .PrevInSection }}
            <a href="{{.PrevInSection.Permalink}}">
            <div style="width:300px;">
                <p class="zscard title" style="text-align:right;font-weight: 500;font-size: .8rem;
">{{ T "next"}} ⇢</p>
              <p class="zscard title">{{ .PrevInSection.Title }}</p>
    
            </div>
          </a>

            {{ end }}
          </div>
 
{{ end }}